






<header>
  <div class="top-head">
    <div class="container-fluid">
        <ul class="header-links">
          <li class="list-item" ><a class="list-link" href="#"><span class="heder-icon"><i class="bi bi-telephone-fill"></i></span>.9080284387</a></li>
          <li class="list-item"  ><a class="list-link" href="#"><span class="heder-icon"><i class="bi bi-envelope"></i></span>.ragesh@gmail.com</a></li>
          <li class="list-item"  ><a class="list-link" href="#"><span class="header-icon"><i class="bi bi-geo-alt-fill"></i></span>.location</a></li>
        </ul>
        <ul class="header-link">
          <li class="list-item" ><a class="list-link" href="#"><span class="header-icon"><i class="bi bi-currency-dollar"></i></span>USD</a></li>
          <li class="list-item"  ><a class="list-link" href="#"><span class="header-icon"><i class="bi bi-person"></i></span>Account</a></li>
        </ul>
    </div>  
  </div>    
</header>



  <div class="head-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-head">
            <h1 class="logo-h1">ELECTRO</h1>
          </div>
        </div>
        

        <div class="col-md-6">
          <form class="logo-form">
            <select class="input-select">
              <option value="0">All categories</option>
              <option value="1">catocery-1</option>
              <option value="1">cattxbx-2</option>
            </select> 
            <input class="input" placeholder="search-here" >
            <button class="search-btn">search</button>
          </form>  

        </div>

        

        <div class="col-md-3">
          <div class="logos">
            <h1 class="logo-h2"><a class="list-link" href="#"><span><i class="bi bi-suit-heart"></i></span></a></h1>
            <h1 class="logo-h2"><a class="list-link" href="#"><span><i class="bi bi-pci-card"></i></span></a></h1>
          </div>  
        </div>  
      </div>
    </div>
  </div>

  <div class="jumbotren mt-0 p-1 bg-danger text-white">
  </div>
  
  
  <div class="navbar">
    <div class="container-fluid p-3">
      <ul class="nav">
        
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Hot deals</a></li>
        <li class="nav-item"><a class="nav-link" href="#">catogeries</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Laptop</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Smart Phone</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Camera</a></li>
        <li class="nav-item"><a class="nav-link" href="#">accessories</a></li>
      </ul>
    </div>
  </div>    


  <div class="grid-body">
    <div class="row">

        <div class="col-sm-1">
        </div> 

       <div class="col-sm-3">
          <div class="grid-1">
            <div class="grid-shop">
              <a class="grid-link" href="#">
                <div class="inner">
                  <img class="grid-img" src="assets/s1.jpg">
                </div>
              </a>
            </div>  
            <div class="grid-topic">
              <h4 class="grid-text">accessories<br>Collection</h4>
              <a href="#" class="ctna-btn">Shop now<span class="grid-icon"><i class="bi bi-arrow-right-circle"></i></span></a>
            </div>  
          </div>
        </div>

        <div class="col-sm-3">
          <div class="grid-1">
            <div class="grid-shop">
              <a class="grid-link" href="#">
                <div class="inner">
                  <img class="grid-img" src="assets/s2.jpg">
                </div>
              </a>
            </div>  
            <div class="grid-topic">
              <h4 class="grid-text">accessories<br>Collection</h4>
              <a href="#" class="ctna-btn">Shop now<span class="grid-icon"><i class="bi bi-arrow-right-circle"></i></span></a>
            </div>  
          </div>
        </div>

        <div class="col-sm-3">
          <div class="grid-1">
            <div class="grid-shop">
              <a class="grid-link" href="#">
                <div class="inner">
                  <img class="grid-img" src="assets/s3.jpg">
                </div>
              </a>
            </div>  
            <div class="grid-topic">
              <h4 class="grid-text">accessories<br>Collection</h4>
              <a href="#" class="ctna-btn">Shop now<span class="grid-icon"><i class="bi bi-arrow-right-circle"></i></span></a>
            </div>  
          </div>
        </div>

        <div class="col-sm-1">
        </div>  

      </div>  
  </div>   
 
  
 
  

  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row g-4 my-5">
          
          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s21.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div> 
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div>  
            </div>  
          </div> 


          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s22.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div> 
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div> 
            </div>  
          </div> 


          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s23.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div>  
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div>   
            </div>  
          </div> 
        </div>
      </div>
    

      <div class="carousel-item active">
        <div class="row g-4 my-5">
          
          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s24.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div> 
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div>  
            </div>  
          </div> 


          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s2.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div> 
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div> 
            </div>  
          </div> 


          <div class="col-sm-3 product-item mx-auto owl-carousel owl-theme">
            <div class="product-img">
              <img src="assets/s1.jpg" alt="" class="img-fluid d-block mx-auto">
              <span class="heart-icon">
                <i class="bi bi-heart"></i>
              </span>
              <div class="row btns w-100 mx-auto text-center">
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-pci-card"></i></span>
                  Add to Card
                </button>  
      
                <button type="button" class="col-6 py-2">
                  <span><i class="bi bi-binoculars-fill"></i></span>
                  viewer
                 </button>  
              </div>    
            </div>
          
            <div class="product-info p-3">
              <span class="product-type">Electronics & accessories</span>
              <a href="#" class="d-block text-dark text-decoration-none py-2">Apple-Apple Watch Series 3 White sport Brand</a>
              <span class="product-price">$ 100.50</span>
      
              <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span>(25 reviews)</span>
              </div>  
              <hr>
              <div class="see"> 
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
               </div> 
                
            </div>  
          </div> 
        </div>
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
    

 
  <div class="container">
  <div class="body">
    
    <div class="container-fluid p-5"> 
     <div class="time">
      <h1><span class="apple"><i class="bi bi-apple"></i></span>i-phone<span class="apple-text"> 14</span> series</h1>
      <h3>Now in <span class="green-text">GREEN</span></h3>
      
      <div class="apple-img">
        <img src="assets/ip-3.png">
        </div>
      
      <div id="clockdiv">
        
    
      <div>
        <span class="days" id="day"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours" id="hour"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes" id="minute"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds" id="second"></span>
        <div class="smalltext">Seconds</div>
        </div>
  
      </div>
  
      <div class="bt">
        <button type="button" id="bt" class="btn btn-primary" >Shop<span class="arw"><i class="bi bi-arrow-right-circle"></i></span></button>
        </div>
        </div>
    </div>
  </div>
  </div>


  <div class="grid-2">
    
      <h1 class="tx"><span><i id="a" class="bi bi-apple"></i></span> <span class="brand">BRANB'S</span></h1>

      <div class="row">

        <div class="col-sm-1">
        </div>

        

        <div class="col-md-3">
          <div class="col-text">
            <div class="card">
              <div class="card-img1">
                <img src="assets/ip-3.png">
              </div> 
              <div class="card-text">
                <h1><a href="#">i-Phones</a></h1><br>
                <p><span><i class="bi bi-apple"></i></span>-Apple i-Phones series White sport Brand</p>
                <span class="price-1">$100</span>
                <div class="rating-1">
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span>(25 reviews)</span>
                </div>
                <div class="grid-btn">
                <button type="button" id="grid" class="btn btn-white" data-bs-toggle="collapse" data-bs-toggle="tooltip" title="the detail of iphones" data-bs-target="#demo"><span><i class="bi bi-ticket-detailed-fill"></i></span></button>
                  <div id="demo" class="collapse">
                    jnlenelcndlkcnlclc
                  </div>
                  </div>    
                <hr>
                <div class="see"> 
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
                 </div> 
              </div>   
            </div>  
          </div>
        </div>

       

        <div class="col-md-3">
          <div class="col-text">
            <div class="card">
              <div class="card-img2">
                <img src="assets/am.png">
              </div> 
              <div class="card-text">
                <h1><a href="#">MAC</a></h1><br>
                <p><span><i class="bi bi-apple"></i></span>-Apple Mack-Book 14 pro White sport Brand</p>
                <span class="price-1">$100</span>
                <div class="rating-1">
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span>(25 reviews)</span>
                </div>
                <div class="grid-btn">
                <button type="button" id="grid" class="btn btn-white" data-bs-toggle="collapse" data-bs-toggle="tooltip" title="the detail of iphones" data-bs-target="#dem"><span><i class="bi bi-ticket-detailed-fill"></i></span></button>
                  <div id="dem" class="collapse">
                    futures of iphones
                  </div> 
                  </div>   
                <hr>
                <div class="see"> 
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
                 </div> 
              </div>   
            </div>  
          </div>
        </div>

        

        <div class="col-md-3">
          <div class="col-text">
            <div class="card">
              <div class="card-img3">
                <img src="assets/iw3.png">
              </div> 
              <div class="card-text">
                <h1><a href="#">i-Watch</a></h1><br>
                <p><span><i class="bi bi-apple"></i></span>-Apple Watch Series 3 White sport Brand</p>
                <span class="price-1">$100</span><br>
                <div class="rating-1">
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span><i class="bi bi-star-fill"></i></span>
                  <span>(25 reviews)</span><br>
                </div>  
                <div class="grid-btn">
                <button type="button" id="grid" class="btn btn-white" data-bs-toggle="collapse" data-bs-toggle="tooltip" title="the detail of iphones" data-bs-target="#de"><span><i class="bi bi-ticket-detailed-fill"></i></span></button>
                  <div id="de" class="collapse">
                    jnlenelcndlkcnlclc
                  </div>   
                  </div>
                <hr>
                <div class="see"> 
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-heart"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-usb-c"></i></span></a>
                  <a class="se-link" href="=#"><span class="se"><i class="bi bi-eye-fill"></i></span></a>
                 </div> 
                
              </div>   
            </div>  
          </div>
        </div>

        <div class="col-sm-1">
        </div>  

      </div>
    
  </div>  



  <div class="container-fluid mt-5 p-5 bg-white text-dark">
  <div class="email-1">
    <hr>
    <h1 class="email-text">Sign Up for the <span>NEWSLETTER</span></h1>
    <div class="inp">
      <img class="email-img" src="assets/em1.png">
      <input type="email" id="mail" placeholder="Enter your email">
      <button type="submit" class="btn" id="sub"><span><i class="bi bi-envelope"></i>  </span>   Subscribe</button>
    </div>
    <div class="email-icon">
      <span class="mail-icon"><i class="bi bi-facebook"></i></span>
      <span class="mail-icon"><i class="bi bi-twitter"></i></span>
      <span class="mail-icon"><i class="bi bi-instagram"></i></span>
      <span class="mail-icon"><i class="bi bi-whatsapp"></i></span>
    </div>    
  </div> 
  </div> 

    <div class="jumbotren mt-1 p-1 bg-danger">
    </div>  

  <div class="bottom">
    <ul class="bottom-1">
      <h1 class="bottom-text">ABOUT US</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
      <li class="bottom-list"><a class="bottom-link" href="#"><span><i class="bi bi-geo-alt"></i></span> 1734 Stonecoal Road</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#"><span><i class="bi bi-telephone-fill"></i></span> +021-95-51-84</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#"><span><i class="bi bi-envelope"></i></span> email@email.com</a></li>
    </ul>

    <ul class="bottom-1">
      <h1 class="bottom-text">CATEGORIES</h1>
      <li class="bottom-list"><a class="bottom-link" href="#">Hot deals</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Laptops</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Smartphones</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Cameras</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Accessories</a></li>
    </ul>

    <ul class="bottom-1">
      <h1 class="bottom-text">INFORMATION</h1>
    
      <li class="bottom-list"><a class="bottom-link" href="#">About Us</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Contact Us</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Privacy Policy</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Orders and Returns</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Terms & Conditions</a> </li>
    </ul>

    <ul class="bottom-1">
      <h1 class="bottom-text">SERVICE</h1>
 
      <li class="bottom-list"><a class="bottom-link" href="#">My Account</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#"> View Cart</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#">Wishlist</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#"> Track My Order</a></li>
      <li class="bottom-list"><a class="bottom-link" href="#"> Help</a></li>
    </ul>
  </div>  


  

  <div class="finish">
    <h5 class="finish-text"></h5>Copyright © 2022 Electro online mobile shoping. Designed by<a class="finish-mail" href="#"> @LOKRESHRAGUL</a>
  </div>
  